* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    background: url('../images/pattern-background-desktop.svg') no-repeat;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    align-content: center;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2.5vh;
    flex-direction: column;
    flex-wrap: wrap;
    height: 81vh;
    justify-content: center;
    margin: 8vh auto;
    position: relative;
    width: 53vh;
}   

.card {
    align-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    max-width: 100%;
}

.hero {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    width: 100%;
}

.title {
    color: hsl(223, 47%, 23%);
    font-size: 3.5vh;
    font-weight: 900;
    padding-top: 5vh;
}

.description {
    color: hsl(224, 23%, 55%);
    font-size: 2vh;
    font-weight: 500;
    padding-top: 2vh;
    text-align: center;
}

.info {
    align-items: center;
    align-content: center;
    background: hsl(225, 100%, 96%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 9.5vh;
    justify-content: space-between;
    margin: 1.5vh 1.3vh 3.5vh 4vh;
    padding: 1.5vh;
    width: 42vh;
}

.icon-msc {
    margin-left: 1.5vh;
}

.list {
    display: inline-block;
    font-size: 2.2vh;
    padding-right: 10vh;
}

.plan {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.change {
    color: hsl(245, 75%, 52%);
    float: right;
    font-weight: bold;
    font-size: 2vh;
    margin-right: 1.2vh;
    padding-top: 2vh;
    text-align: right;
    text-decoration: underline;
}

.change:hover {
    color: hsl(245, 72%, 67%);
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

.price {
    color:hsl(224, 23%, 55%);
    padding-top: 0.3rem;
}

.btn {
    border: none;
    background: hsl(245, 75%, 52%);
    box-shadow: 1px 14px 17px -2px hsl(257, 39%, 69%);
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
    font-size: 1.8vh;
    height: 7.5vh;
    margin: auto 4.2vh;
    width: 45vh;
}

.btn:hover {
    background: hsl(245, 72%, 67%);
    cursor: pointer;
    transition: 0.3s;
}

.cancel {
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    font-size: 1.9vh;
    justify-content: center;
    padding-top: 3.5vh;
    text-align: center;
}

.cancel:hover {
    color: hsl(223, 47%, 23%);
    cursor:pointer;
    transition: 0.3s;
}

.attribution {
    text-align: center;
    font-size: 2vh;
}


a:hover {
    text-decoration: none;
    color: hsl(245, 75%, 52%);
    font-size: 2.2vh;
    transition: 0.3s;
}

/*# Front-end Style Guide

## Layout

The designs were created to the following widths:

[OK]- Mobile: 375px
[OK]- Desktop: 1440px

## Colors

### Primary

[OK] - Pale blue: hsl(225, 100%, 94%) 
[OK] - Bright blue: hsl(245, 75%, 52%) 

### Neutral

[OK]- Very pale blue: hsl(225, 100%, 98%)
[OK]- Desaturated blue: hsl(224, 23%, 55%)
[OK]- Dark blue: hsl(223, 47%, 23%)

## Typography

### Body Copy

[OK]- Font size (paragraph): 16px

### Font

[OK]- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900